:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196F3;
  --hero-text-color: #FFFFFF;
  --typical-margin-mini: 4px;
  --typical-margin-midi: 10px;
  --typical-margin-maxi: 50px;
  --typical-padding-midi: 60px;
  --typical-padding-maxi: 60px;
  --time-variable: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

body {
  font-family: Roboto, Tahoma, sans-serif;
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.link {
  color: inherit;
  text-decoration: none;
}

.section {
  padding-top: var(--typical-padding-maxi);
  padding-bottom: var(--typical-padding-maxi);
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo-blue {
  display: flex;
  align-items: center;
  color: var(--accent-color);
  font-family: Raleway, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
  }
}

.menu__item {
  position: relative;
}
.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--accent-color);
}

.menu__link {
  transition: color 250ms var(--time-variable);
  display: block;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.menu__studio-blue {
  color: var(--accent-color);
}

.menu__portfolio-blue {
  color: var(--accent-color);
}

.auth {
  display: none;
}
@media screen and (min-width: 768px) {
  .auth {
    display: block;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .auth {
    display: flex;
  }
}

.auth__item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .auth__item:not(:first-child) {
    margin-left: 50px;
  }
}

.auth__link {
  transition: color 250ms var(--time-variable);
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  fill: #757575;
}
@media screen and (min-width: 1200px) {
  .auth__link {
    justify-content: center;
  }
}
.auth__link:hover, .auth__link:focus {
  color: var(--accent-color);
}

.auth__icon {
  fill: currentColor;
  margin-right: 10px;
}

.button-open {
  display: block;
  padding: 0;
  margin-left: auto;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.button-open:hover, .button-open:focus {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .button-open {
    display: none;
  }
}

.button-open__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.mob-conteiner {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow: auto;
  width: 100%;
  padding: 10px 15px 48px 40px;
  margin: 0 auto;
}

.mob-menu {
  position: fixed;
  z-index: 2;
  background-color: #FFFFFF;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu__button-close {
  display: block;
  padding: 0;
  margin-left: auto;
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.mob-menu__button-close:hover, .mob-menu__button-close:focus {
  fill: var(--accent-color);
}

.mob-menu__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.mob-menu__link {
  font-family: Roboto;
  font-style: Medium;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-align: left;
  color: #212121;
}

.mob-menu__link--current {
  color: var(--accent-color);
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 36px;
}

.mob-menu__list-auth {
  font-family: Roboto;
  font-style: Medium;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-align: left;
  color: #757575;
}

.mob-menu__item-tel {
  font-family: Roboto;
  font-style: Medium;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--accent-color);
  margin-bottom: 32px;
}

.mob-menu__item-mob {
  font-family: Roboto;
  font-style: Medium;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-align: left;
  color: #757575;
  margin-bottom: 64px;
}

.mob-menu__item-social {
  font-family: Roboto;
  font-style: Medium;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--accent-color);
}

.mob-menu__list-social {
  display: flex;
}
@media screen and (max-width: 480px) {
  .mob-menu__list-social {
    flex-wrap: wrap;
  }
}
.mob-menu__list-social .mob-menu__item-social:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.container-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: var(--typical-margin-maxi);
}
@media screen and (min-width: 1200px) {
  .container-title {
    font-size: 36px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.button {
  transition: box-shadow 250ms var(--time-variable), background-color 250ms var(--time-variable);
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  display: block;
  border: 0px;
  border-radius: 4px;
  padding: 10px 32px;
}
.button:hover, .button:focus {
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button:hover,
.button:focus {
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.social-networks {
  display: flex;
  justify-content: center;
}

.social-networks__item + .social-networks__item {
  margin-left: 10px;
}

.social-networks__link {
  transition: background-color 250ms var(--time-variable), fill 250ms var(--time-variable);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #AFB1B8;
  background-color: var(--hero-text-color);
}
.social-networks__link:hover, .social-networks__link:focus {
  background-color: var(--accent-color);
  fill: var(--hero-text-color);
}

header {
  background-color: var(--hero-text-color);
  border: 1px solid #ECECEC;
}
header .container {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
}

.navigation__logo-black {
  color: #000000;
}

.navigation {
  display: flex;
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/team-work-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.container__title {
  color: var(--hero-text-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  max-width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .container__title {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.container__hero-btn {
  transition: box-shadow 250ms var(--time-variable), background-color 250ms var(--time-variable);
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  display: block;
  border: 0px;
  border-radius: 4px;
  padding: 10px 32px;
}
.container__hero-btn:hover, .container__hero-btn:focus {
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.blok-our-featires {
  padding-top: var(--typical-padding-maxi);
}

.our-featires {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.our-featire__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .our-featire__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .our-featire__item {
    width: calc((100% - 90px) / 4);
  }
}
.our-featire__item::before {
  display: block;
  content: "";
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  background-size: 70px;
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.our-featire__title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: var(--typical-margin-midi);
  text-align: center;
}
@media screen and (min-width: 768px) {
  .our-featire__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .our-featire__title {
    text-align: left;
  }
}

.our-featire__text {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .our-featire__text {
    max-width: 270px;
  }
}

@media screen and (max-width: 1199px) {
  .block {
    display: none;
  }
}

.work-exemplars {
  display: flex;
  margin-left: -30px;
  flex-wrap: wrap;
}

.work-exemplars__item {
  flex-basis: calc(33.3333333333% - 30px);
  margin-left: 30px;
  position: relative;
}

.work-exemplars__description {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.17;
  color: var(--hero-text-color);
}

.card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.card__name {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: var(--typical-margin-midi);
}

.card__text {
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.block-our-team {
  background-color: #F5F4FA;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-members__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--hero-text-color);
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team-members__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-members__item {
    width: calc((100% - 90px) / 4);
  }
}

.regular-customers {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (min-width: 480px) {
  .regular-customers__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .regular-customers__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .regular-customers__item {
    width: calc((100% - 150px) / 6);
  }
}

.regular-customers__link {
  transition: fill 250ms var(--time-variable), border 250ms var(--time-variable);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
}
.regular-customers__link:hover, .regular-customers__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

footer {
  background-color: #2F303A;
  padding-top: var(--typical-padding-midi);
  padding-bottom: var(--typical-padding-midi);
}
  align-items: center;
@media screen and (min-width: 1200px) {
  footer .container {
    display: flex;
    align-items: baseline;
  }
}
footer .logo-blue {
  justify-content: center;
  text-align: center;
  margin-right: 0;
}

.contacts__logo-white {
  color: var(--hero-text-color);
}
@media screen and (min-width: 1200px) {
  .contacts__logo-white {
    margin-right: 156px;
  }
}

@media screen and (min-width: 1200px) {
  .options {
    margin-left: 93px;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    margin-right: 165px;
  }
}

@media screen and (min-width: 768px) {
  .divs {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}

.location {
  text-align: center;
  font-style: normal;
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .location {
    text-align: left;
  }
}

.location__text {
  color: var(--hero-text-color);
  margin-bottom: 9px;
}

.location__link {
  transition: color 250ms var(--time-variable);
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.location__link:hover, .location__link:focus {
  color: var(--accent-color);
}

.location__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .location__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

@media screen and (min-width: 768x) {
  .join {
    display: flex;
  }
}

.join__text {
  display: block;
  font-weight: 700;
  font-style: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--hero-text-color);
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .join__text {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .join__text {
    text-align: left;
  }
}

.join-color {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--hero-text-color);
}

.subscription {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .subscription {
    display: flex;
  }
}

.subscription__input {
  padding: 15px 16px;
  width: 450px;
  height: 50px;
  border-radius: 4px;
  border: 1px Solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  outline: transparent;
  color: var(--hero-text-color);
  transition: border 250ms var(--time-variable), box-shadow 250ms var(--time-variable);
}
@media screen and (min-width: 1200px) {
  .subscription__input {
    display: flex;
    width: 358px;
  }
}
.subscription__input:focus {
  border: 1px Solid var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.subscription__input::placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03;
  cursor: pointer;
}

.subscription__btn {
  display: flex;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
}
.subscription__icon {
  align-items: center;
  margin-left: 10px;
}

.bacdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--time-variable), visibility 250ms var(--time-variable);
}

.bacdrop.is-hidden .service-order {
  transform: translate(-50%, -50%) scaleX(0);
}

.service-order {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(1);
  width: 528px;
  min-height: 581px;
  background-color: var(--hero-text-color);
  border-radius: 4px;
  transition: transform 250ms var(--time-variable);
  padding: 40px;
}

.service-order__close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--hero-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms var(--time-variable), fill 250ms var(--time-variable);
}
.service-order__close-btn:hover, .service-order__close-btn:focus {
  background-color: var(--accent-color);
  fill: var(--hero-text-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.service-order__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.modall__input {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  width: 100%;
  height: 40px;
  padding: 0 0 0 42px;
  border-radius: 4px;
  border: 1px Solid rgba(33, 33, 33, 0.2);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms var(--time-variable);
}
.modall__input:focus {
  border-color: var(--accent-color);
}
.modall__input:focus + .modall__input-icon {
  fill: var(--accent-color);
}

.form__title-input {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modall__input-wrap {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.modall__input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms var(--time-variable);
}

.modal__text {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px Solid rgba(33, 33, 33, 0.2);
  resize: none;
  padding: 12px 16px;
  transition: border-color 250ms var(--time-variable);
  margin-bottom: 20px;
  outline: none;
}
.modal__text:focus {
  border-color: var(--accent-color);
}
.modal__text::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__field {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.modal__check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px Solid #000000;
  border-radius: 2px;
  margin-right: 8px;
  transition: border-color 250ms var(--time-variable), box-shadow 250ms var(--time-variable);
}
.modal__input-chek:checked + .modal__check-text::before {
  background-color: var(--accent-color);
  background-image: url(../images/vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
.modal__input-chek:focus + .modal__check-text::before {
  border-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal__check-text {
  display: flex;
  align-items: center;
}
.modal__check-text a {
  color: var(--accent-color);
  transition: text-decoration 250ms var(--time-variable);
}
.modal__check-text a:hover {
  text-decoration: none;
}

.modall__btn {
  padding: 10px 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.menu-button {
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .menu-button {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-button {
    margin-bottom: 50px;
  }
}

.menu-button__item {
  margin-top: 15px;
}

.menu-button__btn {
  transition: color 250ms var(--time-variable), background-color 250ms var(--time-variable), box-shadow 250ms var(--time-variable);
  border-radius: 4px;
  border: 0px solid transparent;
  color: var(--primary-text-color);
  background-color: #F5F4FA;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 6px 22px;
}
.menu-button__btn:hover, .menu-button__btn:focus {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.menu-button__btn--active {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
}

.menu-button__item:not(:last-child) {
  margin-right: 8px;
}

.top-wrap__images {
  margin-bottom: 0px;
}

.list-works {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.list-works .denotement__title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: var(--typical-margin-mini);
}
.list-works .denotement__topic {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.list-works__card {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .list-works__card {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .list-works__card {
    width: calc((100% - 60px) / 3);
  }
}

.list-works__link {
  transition: box-shadow 250ms var(--time-variable);
  display: block;
}
.list-works__link:hover, .list-works__link:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}
.list-works__link:hover .top-wrap__text,
.list-works__link:hover .top-wrap__text, .list-works__link:focus .top-wrap__text,
.list-works__link:focus .top-wrap__text {
  transform: translateY(0);
}

.top-wrap {
  position: relative;
  overflow: hidden;
}

.top-wrap__text {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  transform: translateY(100%);
  transition: transform 250ms var(--time-variable);
  font-size: 16px;
  line-height: 1.56;
  padding-right: 24px;
  padding-left: 24px;
  height: 100%;
  color: var(--hero-text-color);
  background-color: rgba(33, 150, 243, 0.9);
}

.denotement {
  border: 1px solid #EEEEEE;
  border-top: none;
  padding: 20px 24px;
}/*# sourceMappingURL=main.css.map */