.button {
    transition: box-shadow 250ms var(--time-variable), 
    background-color 250ms var(--time-variable);

    color: var(--hero-text-color);
    background-color: var(--accent-color);
       
    cursor: pointer;
    font-family: inherit;
    @include font(700, 16px, 1.88, 0.06em);
    @include align-list;         
    text-align: center;
    

    margin: 0 auto;
    display: block;  
    
    border: 0px;
    border-radius: 4px;
    padding: 10px 32px;

    &:hover,
    &:focus {
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
}

.button:hover,
.button:focus {
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

