footer {
    background-color: #2F303A;

    padding-top: var(--typical-padding-midi);
    padding-bottom: var(--typical-padding-midi);

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }

}

.contacts__logo-white {
    color: var(--hero-text-color);
    
}
 
