footer {
    background-color: #2F303A;

    padding-top: var(--typical-padding-midi);
    padding-bottom: var(--typical-padding-midi);

    .container {
         @media screen and (min-width: 1200px) {
            display: flex;
            align-items: baseline;
        }
        
    }
    .logo-blue {
        justify-content: center;
        text-align: center;
        margin-right: 0;
           
    }     
}    

.contacts__logo-white {
    color: var(--hero-text-color);
    @media screen and (min-width: 1200px) {
        margin-right: 156px;
    }      
}

.contacts {
    @media screen and (min-width: 768px) and (max-width: 1199px){
        margin-right: 165px;
    } 
}


.options {
    @media screen and (min-width: 1200px) {
    margin-left: 93px;
    }
}

.divs {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: baseline;
    }
}
