header { 
    background-color: var(--hero-text-color);
    border: 1px solid #ECECEC;

    .container {  
        @include align-list;    
    }    
}
        
ul {
    list-style: none;
}

.navigation__logo-black {
    color: #000000;
} 

.navigation {
    display: flex;    
}




