.button-open {
    display: block;
    padding: 0;
    margin-left: auto;

    width: 40px;
    height: 40px;
    border:  none;
    background-color: transparent;
    cursor: pointer;
        &:hover,
        &:focus {
        fill: var(--accent-color);
        }
    @media screen and (min-width: 768px) {
        display: none;
        }
}

.button-open__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.mob-conteiner {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content:space-between;
    overflow: auto;
    
    width: 100%;
    padding: 10px 15px 48px 40px;
    margin: 0 auto;


}
 
.mob-menu {
    @media screen and (min-width: 768px) {
        display: none;
    }
    position: fixed;
    z-index: 2;
    background-color: #FFFFFF;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

}

.mob-menu__button-close {
    display: block;
    padding: 0;
    margin-left: auto;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    border:  none;
    background-color: transparent;
    cursor: pointer;
    &:hover,
    &:focus {
      fill: var(--accent-color);
    }

}
 
.mob-menu__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
 
}

.mob-menu__link {
    font-family: Roboto;
    font-style: Medium;
    @include font(500, 40px, 1.17, 0.02em);
    text-align: left;
    color: #212121;
}

.mob-menu__link--current {
    color: var(--accent-color);

}

.mob-menu__item:not(:last-child) {
    margin-bottom: 36px;
}

.mob-menu__list-auth {
    font-family: Roboto;
    font-style: Medium;
    @include font(500, 34px, 1.17, 0.02em);
    text-align: left;
    color: #757575;
   
}

.mob-menu__item-tel {
    font-family: Roboto;
    font-style: Medium;
    @include font(500, 40px, 1.17, 0.02em);
    text-align: left;
    color: var(--accent-color);
    margin-bottom: 32px;
}

.mob-menu__item-mob {
    font-family: Roboto;
    font-style: Medium;
    @include font(500, 24px, 1.17, 0.02em);
    text-align: left;
    color: #757575;

}
.mob-menu__item-social {
    font-family: Roboto;
    font-style: Medium;
    @include font(500, 18px, 1.22, 0.02em);
    text-align: left;
    color: var(--accent-color);
}

.mob-menu__list-social {
    display: flex;
    @media screen and (max-width: 480px) {
      flex-wrap: wrap;
    }
  
    .mob-menu__item-social:not(:last-child) {
      padding-right: 10px;
      margin-right: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
}


//   .mob-menu .is-hidden {
//     opacity: 0;
//     pointer-events: none;
//   }

 

//   .mob-menu__link {
//     font-weight: 500;
//     font-size: 40px;
//     line-height: 1.18;
//     letter-spacing: 0.02em;
//     &:hover,
//     &:focus,
//     &:active {
//         color: var(--accent-color);
//     }
//     @media screen and (max-width: 480px) {
//     font-size: 10vw;
//     }     
//   }

//   .mob-menu__link--current {
//     color: var(--accent-color);
//   }

//   .mob-menu__list-auth {
//     margin-bottom: 64px;

//   .mob-menu__item-auth:not(:last-child) {
//     margin-bottom: 32px;
//   }

//   .mob-menu__item-auth .mob-menu__link-auth--telephone {
//     color: var(--accent-color);

//     @media screen and (min-width: 480px) {
//       font-size: 34px;
//       line-height: 1.17;
//     }

//   }
// }

// .mob-menu__item-auth {
//     font-weight: 500;
//     font-size: 24px;
//     line-height: 1.16;
//     letter-spacing: 0.02em;
//     color: #757575;
//     &:hover,
//     &:focus,
//     &:active {
//       color: var(--accent-color);
//     }
//     @media screen and (max-width: 480px) {
//       font-size: 8vw;
//     }
// }





    






    

