.bacdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms var(--time-variable), 
    visibility 250ms var(--time-variable);
    z-index: 2;
    overflow-y: scroll;
    
}

.bacdrop.is-hidden .service-order {
    transform: translate(-50%, -50%) scaleX(0);
}

.service-order {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(1);
    width: 450px;
    min-height: 609px;
    background-color: var(--hero-text-color);
    border-radius: 4px;
    transition: transform 250ms var(--time-variable);
    padding: 40px;
    @media screen and (min-width: 768px) {
        width: 528px;
        min-height: 581px; 
    }
}

.service-order__close-btn {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--hero-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 250ms var(--time-variable),
    fill 250ms var(--time-variable);

    &:hover,
    &:focus {
    background-color: var(--accent-color);
    fill: var(--hero-text-color);
}
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.service-order__title {
    @include font(700, 20px, 1.5, 0.03em);
    text-align: center;
        
    color: #212121;

    margin-bottom: 12px;
    @media screen and (min-width: 768px) {
        @include font(null, null, 1.17, null);
    }
}

.modall__input {
    font-family: 'Roboto';
    @include font(null, 14px, 1.14, 0.01em);
    width: 100%;
    height: 40px;
    padding: 0 0 0 42px;
    border-radius: 4px;
    border: 1px Solid rgba(33, 33, 33, 0.2);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms var(--time-variable);

    &:focus {
        border-color: var(--accent-color);
    }

    &:focus + .modall__input-icon {
        fill: var(--accent-color);
     }
}

.form__title-input {
    @include font(null, 12px, 1.17, 0.01em);
    color: #757575;
    margin-bottom: 4px;
}

.modall__input-wrap {
    position: relative;
    display: block;
    margin-bottom: 10px;    
}

.modall__input-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms var(--time-variable);
}

.modal__text {
    font-family: 'Roboto';
    @include font(null, 14px, 1.14, 0.01em);
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px Solid rgba(33, 33, 33, 0.2);
    resize: none;
    padding: 12px 16px;
    transition: border-color 250ms var(--time-variable);
    margin-bottom: 20px;
    outline: none;

    &:focus {
        border-color: var(--accent-color);
    }

    &::placeholder {
        @include font(null, 14px, 1.17, 0.01em);
        color: rgba(117, 117, 117, 0.5);
        @media screen and (min-width: 1200px) {
        @include font(null, 12px, null, null);
        }
    }
}

.modal__field {
    @include align-list;
    margin-bottom: 30px;
}

.modal__check-text::before {
    content: '';
    width: 16px;
    height: 15px;
    border: 2px Solid #000000;
    border-radius: 2px;
    margin-right: 8px;
    transition: border-color 250ms var(--time-variable),
    box-shadow 250ms var(--time-variable);

    .modal__input-chek:checked + & {
        background-color: var(--accent-color);
        background-image: url(../images/vector.svg);
        background-repeat: no-repeat;
        background-position: center;
        border: none;
    }

    .modal__input-chek:focus + & {
        border-color: var(--accent-color) ;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        
    } 
}

.modal__check-text {
    @include align-list;
    @include font(null, 12px, 1.17, 0.03em);
    @media screen and (min-width: 1200px) {
        @include font(null, 14px, 1.71, null);
    }

    a {
        color: var(--accent-color);
        transition: text-decoration 250ms var(--time-variable);
        
        &:hover {
            text-decoration: none;
        }
    
    } 
}

.modall__btn {
    padding: 10px 55px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}



