.regular-customers {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.regular-customers__item {
    @media screen and (min-width: 480px) {
        width: calc((100% - 30px) / 2);
    }    
    @media screen and (min-width: 768px) {
        width: calc((100% - 60px) / 3);
    }
    @media screen and (min-width: 1200px) {
        width: calc((100% - 150px) / 6);
    }
}

.regular-customers__link {
    transition: fill 250ms var(--time-variable),
    border 250ms var(--time-variable);

    @include align-list;
    // display: flex;
    // align-items: center;
    justify-content: center;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;

    &:hover,
    &:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
    }
}

