p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}

body {
    font-family: Roboto, Tahoma, sans-serif;
    color: var(--title-text-color);
    @include font(400, 14px, 1.71, 0.03em);

    margin: 0;
}

 img {
     display: block;
     max-width: 100%;
     height: auto;
     width: 100%;
}