.subscription {
    // display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media screen and (min-width: 1200px) {
        display: flex;
        
    }
    
}

.subscription__input {
    padding: 15px 16px;
    width: 450px;
    height: 50px;
    border-radius: 4px;
    border: 1px Solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    outline: transparent;
    color: var(--hero-text-color);
    transition: border 250ms var(--time-variable),
    box-shadow 250ms var(--time-variable);
    @media screen and (min-width: 1200px) {
        display: flex;
        width: 358px;
    }

    &:focus {
        border: 1px Solid var(--accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }

    &::placeholder {
        font-family: Roboto;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03;
        cursor: pointer;
    }
}

.subscription__btn {
    display: flex;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    @media screen and (min-width: 1200px) {
       
    }    
}

.subscription__icon {
    align-items: center;
    margin-left: 10px;
}
