:root {
--primary-text-color: #212121;
--title-text-color: #757575;
--accent-color: #2196F3;
--hero-text-color: #FFFFFF;
--typical-margin-mini: 4px;
--typical-margin-midi: 10px;
--typical-margin-maxi: 50px;
--typical-padding-midi: 60px;
// --typical-padding-maxi: 94px;
--typical-padding-maxi: 60px;

--time-variable: cubic-bezier(0.4, 0, 0.2, 1);
}